---
layout: page
description: "五D空间飘来的一粒沙"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} {{site.posted-on-text}}
        <!--2017年10月1日-->
        <!-- Whitespace added for readability -->
        {{ post.date | date: "%Y" }}年
        {% assign m = post.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}1
          {% when '2' %}2
          {% when '3' %}3
          {% when '4' %}4
          {% when '5' %}5
          {% when '6' %}6
          {% when '7' %}7
          {% when '8' %}8
          {% when '9' %}9
          {% when '10' %}10
          {% when '11' %}11
          {% when '12' %}12
        {% endcase %}月
        {{ post.date | date: "%-d" }}日
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
