---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        position: relative;
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }

    {% if page.header-mask %}
    header.intro-header .header-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0, {{ page.header-mask }});
    }
    {% endif %}
</style>
<header class="intro-header" >
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">
                      {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} {{site.posted-on-text}}
                      <!--2017年10月1日-->
                      <!-- Whitespace added for readability -->
                      {{ page.date | date: "%Y" }}年
                      {% assign m = page.date | date: "%-m" %}
                      {% case m %}
                        {% when '1' %}1
                        {% when '2' %}2
                        {% when '3' %}3
                        {% when '4' %}4
                        {% when '5' %}5
                        {% when '6' %}6
                        {% when '7' %}7
                        {% when '8' %}8
                        {% when '9' %}9
                        {% when '10' %}10
                        {% when '11' %}11
                        {% when '12' %}12
                      {% endcase %}月
                      {{ page.date | date: "%-d" }}日
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <!-- Multi-Lingual -->
                {% if page.multilingual %}
                <!-- Language Selector -->
                <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
                    <option value="0" selected> 中文 Chinese </option>
                    <option value="1"> 英文 English </option>
                </select>
                {% endif %}

				{{ content }}

                <hr style="visibility: hidden;">

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        {{site.previous-text}}<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        {{site.next-text}}<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>


                {% if page.comment %}
                <hr>
                  {% if site.disqus_username %}
                  <!-- disqus 评论框 start -->
                  <div class="comment">
                      <div id="disqus_thread" class="disqus-thread"></div>
                  </div>
                  <!-- disqus 评论框 end -->
                  {% endif %}

                  {% if site.netease_comment %}
                  <!-- 网易云跟帖 评论框 start -->
                  <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                  <!-- 网易云跟帖 评论框 end -->
                  {% endif %}

                  {% if site.gitment_comments %}
                  <!--gitment start-->
                  <div id="gitment-container"></div>
                  <!--gitment end-->
                  {% endif %}
                {% endif %}
            </div>

    <!-- Side Catalog Container -->
        {% if page.catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">{{site.catalog-text}}</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endif %}

    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">{{site.featured-tags-text}}</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>{{site.friends-text}}</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</article>


{% if page.comment %}
{% if site.netease_comment %}
<!-- 网易云跟帖JS代码 start -->
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
  var cloudTieConfig = {
    url: document.location.href,
    sourceId: "",
    productKey: "de25fc98a6fe48b3bc8a7ae765da99a0",
    target: "cloud-tie-wrapper"
  };
  var yunManualLoad = true;
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
<!-- 网易云跟帖JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

<!--gitment common code start-->
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<!-- <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
<script src="http://blog.geekaholic.cn/js/thirdParty/gitment.browser.min.js"></script>
<!-- <script src="http://www.5dw.top/js/5dw.gitment.theme.js"></script> -->
<script>
const dw_gitment_theme = {
    function renderHeader({ meta, user, reactions }, instance) {
      const container = document.createElement('div')
      container.lang = "zh-CN"
      container.className = 'gitment-container gitment-header-container'

      const likeButton = document.createElement('span')
      const likedReaction = reactions.find(reaction => (
        reaction.content === 'heart' && reaction.user.login === user.login
      ))
      likeButton.className = 'gitment-header-like-btn'
      likeButton.innerHTML = `
        ${heartIcon}
        ${ likedReaction
          ? '不再喜欢'
          : '表示喜欢'
        }
        ${ meta.reactions && meta.reactions.heart
          ? ` • <strong>${meta.reactions.heart}</strong> 次被喜欢`
          : ''
        }
      `

      if (likedReaction) {
        likeButton.classList.add('liked')
        likeButton.onclick = () => instance.unlike()
      } else {
        likeButton.classList.remove('liked')
        likeButton.onclick = () => instance.like()
      }
      container.appendChild(likeButton)

      const commentsCount = document.createElement('span')
      commentsCount.innerHTML = `
        ${ meta.comments
        ? ` • <strong>${meta.comments}</strong> 条评论`
        : ''
        }
      `
      container.appendChild(commentsCount)

      const issueLink = document.createElement('a')
      issueLink.className = 'gitment-header-issue-link'
      issueLink.href = meta.html_url
      issueLink.target = '_blank'
      issueLink.innerText = 'Issue页面'
      container.appendChild(issueLink)

      return container
    }

    function renderComments({ meta, comments, commentReactions, currentPage, user, error }, instance) {
      const container = document.createElement('div')
      container.lang = "zh-CN"
      container.className = 'gitment-container gitment-comments-container'

      if (error) {
        const errorBlock = document.createElement('div')
        errorBlock.className = 'gitment-comments-error'

        if (error === NOT_INITIALIZED_ERROR
          && user.login
          && user.login.toLowerCase() === instance.owner.toLowerCase()) {
          const initHint = document.createElement('div')
          const initButton = document.createElement('button')
          initButton.className = 'gitment-comments-init-btn'
          initButton.onclick = () => {
            initButton.setAttribute('disabled', true)
            instance.init()
              .catch(e => {
                initButton.removeAttribute('disabled')
                alert(e)
              })
          }
          initButton.innerText = '请管理员初始化评论先'
          initHint.appendChild(initButton)
          errorBlock.appendChild(initHint)
        } else {
          errorBlock.innerText = error
        }
        container.appendChild(errorBlock)
        return container
      } else if (comments === undefined) {
        const loading = document.createElement('div')
        loading.innerText = 'Loading comments...'
        loading.className = 'gitment-comments-loading'
        container.appendChild(loading)
        return container
      } else if (!comments.length) {
        const emptyBlock = document.createElement('div')
        emptyBlock.className = 'gitment-comments-empty'
        emptyBlock.innerText = '还没有评论，快来抢沙发！'
        container.appendChild(emptyBlock)
        return container
      }

      const commentsList = document.createElement('ul')
      commentsList.className = 'gitment-comments-list'

      comments.forEach(comment => {
        const createDate = new Date(comment.created_at)
        const updateDate = new Date(comment.updated_at)
        const commentItem = document.createElement('li')
        commentItem.className = 'gitment-comment'
        commentItem.innerHTML = `
          <a class="gitment-comment-avatar" href="${comment.user.html_url}" target="_blank">
            <img class="gitment-comment-avatar-img" src="${comment.user.avatar_url}"/>
          </a>
          <div class="gitment-comment-main">
            <div class="gitment-comment-header">
              <a class="gitment-comment-name" href="${comment.user.html_url}" target="_blank">
                ${comment.user.login}
              </a>
              发表于
              <span title="${createDate}">${createDate.toDateString()}</span>
              ${ createDate.toString() !== updateDate.toString()
                ? ` • <span title="修改于 ${updateDate}">修改过</span>`
                : ''
              }
              <div class="gitment-comment-like-btn">${heartIcon} ${comment.reactions.heart || ''}</div>
            </div>
            <div class="gitment-comment-body gitment-markdown">${comment.body_html}</div>
          </div>
        `
        const likeButton = commentItem.querySelector('.gitment-comment-like-btn')
        const likedReaction = commentReactions[comment.id]
          && commentReactions[comment.id].find(reaction => (
            reaction.content === 'heart' && reaction.user.login === user.login
          ))
        if (likedReaction) {
          likeButton.classList.add('liked')
          likeButton.onclick = () => instance.unlikeAComment(comment.id)
        } else {
          likeButton.classList.remove('liked')
          likeButton.onclick = () => instance.likeAComment(comment.id)
        }

        // dirty
        // use a blank image to trigger height calculating when element rendered
        const imgTrigger = document.createElement('img')
        const markdownBody = commentItem.querySelector('.gitment-comment-body')
        imgTrigger.className = 'gitment-hidden'
        imgTrigger.src = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        imgTrigger.onload = () => {
          if (markdownBody.clientHeight > instance.maxCommentHeight) {
            markdownBody.classList.add('gitment-comment-body-folded')
            markdownBody.style.maxHeight = instance.maxCommentHeight + 'px'
            markdownBody.title = '点击展开'
            markdownBody.onclick = () => {
              markdownBody.classList.remove('gitment-comment-body-folded')
              markdownBody.style.maxHeight = ''
              markdownBody.title = ''
              markdownBody.onclick = null
            }
          }
        }
        commentItem.appendChild(imgTrigger)

        commentsList.appendChild(commentItem)
      })

      container.appendChild(commentsList)

      if (meta) {
        const pageCount = Math.ceil(meta.comments / instance.perPage)
        if (pageCount > 1) {
          const pagination = document.createElement('ul')
          pagination.className = 'gitment-comments-pagination'

          if (currentPage > 1) {
            const previousButton = document.createElement('li')
            previousButton.className = 'gitment-comments-page-item'
            previousButton.innerText = '向前'
            previousButton.onclick = () => instance.goto(currentPage - 1)
            pagination.appendChild(previousButton)
          }

          for (let i = 1; i <= pageCount; i++) {
            const pageItem = document.createElement('li')
            pageItem.className = 'gitment-comments-page-item'
            pageItem.innerText = i
            pageItem.onclick = () => instance.goto(i)
            if (currentPage === i) pageItem.classList.add('gitment-selected')
            pagination.appendChild(pageItem)
          }

          if (currentPage < pageCount) {
            const nextButton = document.createElement('li')
            nextButton.className = 'gitment-comments-page-item'
            nextButton.innerText = '向后'
            nextButton.onclick = () => instance.goto(currentPage + 1)
            pagination.appendChild(nextButton)
          }

          container.appendChild(pagination)
        }
      }

      return container
    }

    function renderEditor({ user, error }, instance) {
      const container = document.createElement('div')
      container.lang = "zh-CN"
      container.className = 'gitment-container gitment-editor-container'

      const shouldDisable = user.login && !error ? '' : 'disabled'
      const disabledTip = user.login ? '' : '登录Github之后才可评论'
      container.innerHTML = `
          ${ user.login
            ? `<a class="gitment-editor-avatar" href="${user.html_url}" target="_blank">
                <img class="gitment-editor-avatar-img" src="${user.avatar_url}"/>
              </a>`
            : user.isLoggingIn
              ? `<div class="gitment-editor-avatar">${spinnerIcon}</div>`
              : `<a class="gitment-editor-avatar" href="${instance.loginLink}" title="login with GitHub">
                  ${githubIcon}
                </a>`
          }
        </a>
        <div class="gitment-editor-main">
          <div class="gitment-editor-header">
            <nav class="gitment-editor-tabs">
              <button class="gitment-editor-tab gitment-selected">写评论</button>
              <button class="gitment-editor-tab">预览</button>
            </nav>
            <div class="gitment-editor-login">
              ${ user.login
                ? '<a class="gitment-editor-logout-link">退出</a>'
                : user.isLoggingIn
                  ? '登录中...'
                  : `<a class="gitment-editor-login-link" href="${instance.loginLink}">登录</a>到Github`
              }
            </div>
          </div>
          <div class="gitment-editor-body">
            <div class="gitment-editor-write-field">
              <textarea placeholder="感谢您在这里留下评论" title="${disabledTip}" ${shouldDisable}></textarea>
            </div>
            <div class="gitment-editor-preview-field gitment-hidden">
              <div class="gitment-editor-preview gitment-markdown"></div>
            </div>
          </div>
        </div>
        <div class="gitment-editor-footer">
          <a class="gitment-editor-footer-tip" href="https://guides.github.com/features/mastering-markdown/" target="_blank">
            支持Markdown格式
          </a>
          <button class="gitment-editor-submit" title="${disabledTip}" ${shouldDisable}>提交</button>
        </div>
      `
      if (user.login) {
        container.querySelector('.gitment-editor-logout-link').onclick = () => instance.logout()
      }

      const writeField = container.querySelector('.gitment-editor-write-field')
      const previewField = container.querySelector('.gitment-editor-preview-field')

      const textarea = writeField.querySelector('textarea')
      textarea.oninput = () => {
        textarea.style.height = 'auto'
        const style = window.getComputedStyle(textarea, null)
        const height = parseInt(style.height, 10)
        const clientHeight = textarea.clientHeight
        const scrollHeight = textarea.scrollHeight
        if (clientHeight < scrollHeight) {
          textarea.style.height = (height + scrollHeight - clientHeight) + 'px'
        }
      }

      const [writeTab, previewTab] = container.querySelectorAll('.gitment-editor-tab')
      writeTab.onclick = () => {
        writeTab.classList.add('gitment-selected')
        previewTab.classList.remove('gitment-selected')
        writeField.classList.remove('gitment-hidden')
        previewField.classList.add('gitment-hidden')

        textarea.focus()
      }
      previewTab.onclick = () => {
        previewTab.classList.add('gitment-selected')
        writeTab.classList.remove('gitment-selected')
        previewField.classList.remove('gitment-hidden')
        writeField.classList.add('gitment-hidden')

        const preview = previewField.querySelector('.gitment-editor-preview')
        const content = textarea.value.trim()
        if (!content) {
          preview.innerText = '还什么都没有...'
          return
        }

        preview.innerText = '努力产生预览中...'
        instance.markdown(content)
          .then(html => preview.innerHTML = html)
      }

      const submitButton = container.querySelector('.gitment-editor-submit')
      submitButton.onclick = () => {
        submitButton.innerText = '提交中...'
        submitButton.setAttribute('disabled', true)
        instance.post(textarea.value.trim())
          .then(data => {
            textarea.value = ''
            textarea.style.height = 'auto'
            submitButton.removeAttribute('disabled')
            submitButton.innerText = '提交'
          })
          .catch(e => {
            alert(e)
            submitButton.removeAttribute('disabled')
            submitButton.innerText = '提交'
          })
      }

      return container
    }
}

var gitment = new Gitment({
  id: '{{ page.title }}', // 可选。默认为 location.href
  owner: '{{ site.github_username }}',
  repo: '{{ site.github_username }}.github.io',
  oauth: {
    client_id: 'f0142e8e077d9d7ba05d',
    client_secret: 'd28ab1f32bc368870cedf1ab8a5f1a1b2c2f4771',
  },
  theme:dw_gitment_theme,
})
gitment.render('gitment-container')
</script>
<!--gitment common code end-->
{% endif %}


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: ''
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}
